.Registration {
    background-color: #0e1442;
}
#reg-input{
    background-color: aliceblue;
    border: 1px solid #101d21;
    border-width: 0px 0px 5px 0px;
}
#registration-ani {
    height: 100vh;
    background-color: #253B52;
}
.registration-from {
    width: 34%;
    background-color: #1E343C;
    margin: 4% auto 10px;
    box-shadow: 0px 0px 6px 6px #00000082;
}
